
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = { "percona": { "unique": false, "count": 3 } };
    node_selector($('#drag_drop'), constraints);
  });

